@model WebApp.Models.Book.ListBookViewModel

@{
    ViewBag.Title = "Favorite books";
}

<div class="row mt-5 mb-2">
    @{
        foreach (WebApp.Models.Book.BookViewModel book in Model.Books)
        {
            @await Html.PartialAsync("_BooksList", book)
        }
    }
</div>
