@{
    ViewBag.Title = "About delivery";
}

<div class="row mb-5">
    <div class="shadow-lg p-0 bg-white">
        <div class="card">
            <div class="card-header">
                <h3>About delivery</h3>
            </div>
            <div class="card-body">
                <h2 class="text-center">General terms of delivery</h2>
                <p>
                    To order, you must fill out the order form. The order will be sent to the email address.
                    To deliver the order by other means (courier, pickup), please contact the feedback or call the site administration +37529XXX-XX-XX.
                </p>
            </div>
        </div>
    </div>
</div>

