@{
    ViewBag.Title = "About";
}

<div class="row mb-2">
    <div class="shadow-lg p-0 bg-white">
        <div class="card">
            <div class="card-header">
                <h3>About</h3>
            </div>
            <div class="card-body">
                <h2 class="text-center">Welcome to Sale Of Book!</h2>
                <p>
                    Sale Of Book is Bookshop.
                    Bookshop is an online bookstore with a mission to financially support local, independent bookstores.
                    We believe that bookstores are essential to a healthy culture. They’re where authors can connect with readers, where we discover new writers, where children get hooked on the thrill of reading that can last a lifetime. They’re also anchors for our downtowns and communities.
                    As more and more people buy their books online, we wanted to create an easy, convenient way for you to get your books and support bookstores at the same time.
                    If you want to find a specific local bookstore to support, find them on our map and they’ll receive the full profit off your order. Otherwise, your order will contribute to an earnings pool that will be evenly distributed among independent bookstores (even those that don’t use Bookshop).
                </p>
                <div>
                    <h4 class="text-center">Our contacts</h4>
                    <span>Phone: +375(29)xXX-XX-XX; +375(44)XXX-XX-XX;</span>
                    <span>
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
                        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        <a href="https://vk.com/"><i class="fab fa-vk"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

