@model WebApp.Models.Account.ChangePasswordViewModel
@{
    ViewBag.Title = "Change password";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="center">
        <h1>Change password" @Model.Email</h1>
        <br />
        <form asp-action="ChangePassword" autocomplete="off" asp-controller="Account">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Email" />
            <div>
                <label class="lb_" asp-for="OldPassword"></label>
                <span class="text-danger" asp-validation-for="OldPassword"></span><br />
                <input class="input_text" type="text" asp-for="OldPassword" />
            </div>
            <div>
                <label class="lb_" asp-for="NewPassword"></label>
                <span class="text-danger" asp-validation-for="NewPassword"></span><br />
                <input class="input_text" type="text" asp-for="NewPassword" />
            </div><br />
            <div>
                <input type="submit" value="Save" class="btn_" />
            </div>
        </form>
    </div>
}
