@model ErrorViewModel

@{
    ViewBag.Title = "Error";
}

<div id="wrapper" class="container-fluid mb-5">
    <div class="error-box">
        <div class="error-body text-center">

            @if (Model.RequestId != null)
            {
                <h1 class="text-danger">@Model.RequestId</h1>
            }
            else
            {
                <h1 class="text-danger">500</h1>
            }

            @if (@Model.RequestId == "404")
            {
                <h3>Page Not Found !</h3>
                <p class="text-muted m-t-30 m-b-30">MOST LIKELY THE PAGE YOU ARE LOOKING FOR THERE</p>
                <a href="/" class="btn btn-danger btn-rounded m-b-40">Back to home</a>
            }
            else if (@Model.RequestId == "400")
            {
                <h3>Bad Request !</h3>
                <p class="text-muted m-t-30 m-b-30">
                    CHANGE AND TRY AGAIN
                </p>
                <a href="/" class="btn btn-danger btn-rounded m-b-40">Back to home</a>
            }
            else
            {
                <h3>
                    Sorry There Was An Error
                </h3>
                <br />
                <a href="/" class="btn btn-danger btn-rounded m-b-40">Back to home</a>
            }
        </div>
    </div>
</div>
