@model WebApp.Models.Users.ChangePasswordViewModel
@{
    ViewBag.Title = "Change password";
}

<div class="center">
    <h1>Change password @Model.Email</h1>
    <br />
    <form asp-action="ChangePassword" asp-controller="Users">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Email" />
        <div>
            <label asp-for="OldPassword"></label>
            <span class="text-danger" asp-validation-for="Email"></span><br />
            <input type="text" asp-for="OldPassword" class="input_text" />
        </div>
        <div>
            <label asp-for="NewPassword"></label>
            <span class="text-danger" asp-validation-for="Email"></span><br />
            <input type="text" asp-for="NewPassword" class="input_text" />
        </div><br />
        <div>
            <input type="submit" value="Save" class="btn_" />
        </div>
    </form>
</div>
